<DOCTYPE! html>
  <head>
    <title>D3 Tutorial</title>
    <link rel="stylesheet" type="text/css" href="style.css" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="d3.js"></script>
  </head>
  <body>
    <h1>D3 Tutorial</h1>
    <nav>
      <a href="/circle">Circle page</a>
      <a href="/inputs">Input page</a>
      <a href="/">Home page</a>
      <a href="/inputs_multiple">Multiple Inputs</a>
    </nav>
    <%= yield %>
  </body>
</html>
