<DOCTYPE! html>
  <head>
    <title>D3 Tutorial</title>
    <link rel="stylesheet" type="text/css" href="style.css" charset="utf-8">
    <script src="d3.js"></script>
    <script src="e1.js"></script>
  </head>
  <body>
    <h1>D3 Tutorial</h1>
    <%= yield %>
  </body>
</html>

